# Referencia PRD (no commitear secretos reales)
GCP_PROJECT_ID=prd-utpbi-data-operation
GCP_BUCKET_NAME=prd-utp-stg-queuesmart
GCP_DATASET_ID=raw_queue_smart
AWS_S3_BUCKET=utp-a106-s3-prd-02-ticketero-counter
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BACKFILL_START_DATE=2026-07-01
BACKFILL_END_DATE=2026-08-31
JOB_ROLE=prepare
